/* SplitPage.css */
.columnContainer {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Takes full page height */
}

.infoEditContainer, .postContainer {
  padding: 20px;
}

.infoEditContainer {
  background-color: #f0f2f5;
  width: 25%;
}

@media (max-width: 768px) {
  .infoEditContainer {
    background-color: #f0f2f5;
    width: 100%;
  }
}

.postContainer {
  background-color: #ffffff;
  width: 75%;
}

@media (max-width: 768px) {
  .postContainer {
    background-color: #ffffff;
    width: 100%;
  }
}

/* Responsive: Stacks vertically on smaller screens */
@media (max-width: 768px) {
  .columnContainer {
    flex-direction: column;
  }
}